<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>labodata</name>
	<displayName><![CDATA[LaboData]]></displayName>
	<version><![CDATA[0.2.0]]></version>
	<description><![CDATA[Constituez le catalogue votre pharmacie ou parapharmacie en ligne avec LaboData avec +12000 fiches produits avec photos et descriptifs. Menu : "Catalogue" >> "LaboData"]]></description>
	<author><![CDATA[161 SARL]]></author>
	<tab><![CDATA[others]]></tab>
	<confirmUninstall><![CDATA[Êtes-vous sûr de vouloir désinstaller le module ?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
